.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2rem;
  justify-items: center;
  align-items: center;
}



.grid-item{
  width: 200px;
  height: 200px;
}


.red{
  background: red;
}

.yellow{
  background: yellow;
}

.green{
  background: green;
}

.brown{
  background: brown;
}

.blue{
  background: blue;
}

.pink{
  background: pink;
}