@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Light theme (default) */
  --background: #f8f8f8;
  --text: #222222;
  --primary: #007bff;
  --secondary: #7b7b7b;
  --navbar-bg: #010102;
  --bg-btn: #000000;
  --bg-text: #ffffff;

  --border-color: #212123;

  --font-heading: 'Poppins', sans-serif; /* Example: Stylish serif */
  --font-body: 'Montserrat', sans-serif; /* Example: Clean sans-serif */

  /* Body Text */
  --fs-verytiny: 0.5rem; /* 8px */
  --fs-tiny: 0.625rem; /* 10px */
  --fs-verysmall: 0.75rem; /* 12px */
  --fs-small: 0.875rem; /* 14px */
  --fs-regular: 1rem; /* 16px */
  --fs-large: 1.125rem; /* 18px */
  --fs-verylarge: 1.25rem; /* 20px */
  --fs-huge: 1.5rem; /* 24px */

  /* Headings */
  --fs-h6: 1rem; /* 16px */
  --fs-h5: 1.125rem; /* 18px */
  --fs-h4: 1.25rem; /* 20px */
  --fs-h3: 1.5rem; /* 24px */
  --fs-h2: 2rem; /* 32px */
  --fs-h1: 2.5rem; /* 40px */
  --hero-h1: 3rem; /* 48px */
  --hero-name: 6rem; /* 96px */
}

[data-theme="dark"] {
  /* Dark theme */
  --background: #010102;
  --text: #f5f5f5;
  --primary: #4dabf7;
  --secondary: #030711;
  --tertiary: #1a1a1a;
  --border-color: #cecece;
  --bg-btn: #ffffff;
  --bg-text: #000000;
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--background) !important;
  color: var(--text);
  font-family: var(--font-body);
}

h1,h2,h3,h4,h5,h6{
  font-family: var(--font-heading)
}

.main-container{
  background-color: var(--background);
  display: flex;
  flex-direction: column;
  /* position: relative;  */
}


body, p, span, h1, h2, h3, h4, h5, h6, a {
  color: var(--text);
}



@media (max-width: 768px) {
  :root {
      --fs-h1: 2rem; /* 32px */
      --fs-h2: 1.75rem; /* 28px */
      --fs-h3: 1.5rem; /* 24px */
      --fs-h4: 1.25rem; /* 20px */
      --fs-h5: 1.125rem; /* 18px */
      --fs-h6: 1rem; /* 16px */
      --hero-h1: 3rem; /* 48px */
      --hero-name: 4rem; /* 96px */
  }
}


@media only screen and (max-width: 480px){
  :root {
      --fs-h1: 1.5rem; /* 24px */
      --fs-h2: 1.25rem; /* 20px */
      --hero-name: 2.3rem; /* 48px */
  }
}


@media (min-width: 1200px) {
  :root {
      --fs-h1: 3rem; /* 48px */
      --fs-h2: 2.5rem; /* 40px */
  }
}


