/* Theme toggle styles */
.theme-toggle {
  background: none;
  cursor: pointer;
  padding: 10px;
  border: none;
}

.icon {
  color: var(--text); /* Icon color matches text */
  transition: color 0.3s ease;
}

.theme-toggle:hover .icon {
  color: var(--text); /* Hover effect using accent color */
}
